<% types ={address:t(:address),delivery:t(:delivery),payment:t(:payment),confirm:t(:confirm)} %>
<div class="row">
  <div class="col-md-3">
    <h1 class="checkout-h1"><%= t(:checkout) %></h1>
  </div>
  <div class="col-md-9 checkout-nav">
    <% types.each do |type| %>
    <div class="<%= wizard_link(type.first.to_s) %> <%= not_active(type.first) %> checkout-nav-lnk-wrap">
      <a href="/order_steps/<%= type.first.to_s %>"><div class="text-lnk"><%= type.second %></div>
        <div class="progress-line">
          <div class="step-cercle">
            <span class="step-number">4</span>
            <span class="glyphicon glyphicon-ok step-done-icon">}</span>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>
</div>