.row.cart.full_cart
  .col-md-12
    %table.table
      = render partial: "orders/partials/books_header"
      = render partial: "orders/partials/render_items", locals: {obj: @order_steps_form, qty_change: false}
.row
  .col-md-1
    - if complete
      = link_to("Go Back To Store", root_path, html_options = { class: "btn btn-success btn-lg", style: "margin-top: 150px;" })
    - else
      = button_to("Place order", wizard_path, html_options = { class: "btn btn-success btn-lg", style: "margin-top: 150px;", method: :put,  })
  .col-md-7
  = render partial: "order_steps/partials/order_summary"
%br/
%br/