.col-md-6
  %h2.underlined-h2.add-margin-bot Billing address
  .row
    .col-md-8
      = show_errors(@billing_address, :billing_form)
      = form_for @billing_address, url: address_path(current_user),  html: {class: "nifty_form", method: "patch"} do |f|
        .form-group
          = f.label :firstname, "First name", class: "control-label"
          = f.text_field :firstname, {class: validate_class(:billing_form, :firstname), placeholder: 'First name'}
        .form-group
          = f.label :lastname, "Last name", class: "control-label"
          = f.text_field :lastname, {class: validate_class(:billing_form, :lastname), placeholder: 'Last name'}
        .form-group
          = f.label :address, "Address", class: "control-label"
          = f.text_field :address, {class: validate_class(:billing_form, :address), placeholder: 'Street address'}
        .form-group
          = f.label :city, "City", class: "control-label"
          = f.text_field :city, {class: validate_class(:billing_form, :city), placeholder: 'City'}
        .form-group
          = f.label :country, "Country", class: "control-label"
          - if @billing_address.country && !@billing_address.country.empty?
            = country_select("address", "country", { selected: @billing_address.country }, { class: 'form-control', name: 'address[country]' })
          - else
            = country_select("address", "country", { include_blank: 'Select a country'}, { class: validate_class(:billing_form, :country), name: 'address[country]' })
        .form-group
          = f.label :zipcode, "Zip", class: "control-label"
          = f.text_field :zipcode, {class: validate_class(:billing_form, :zipcode), placeholder: 'Zip' }
        .form-group
          = f.label :phone, "Phone", class: "control-label"
          = f.text_field :phone, {class: validate_class(:billing_form, :phone), placeholder: 'Phone'}
        = hidden_field(:address, :type, value: 'billing' )
        = hidden_field(:address, :and_shipping, value: 'true' )
        .form-group
          = f.submit "Save", class: "btn btn-primary"
