%h1= t(:title_settings)
.row
  = render "users/partials/billing_address",  billing_address: @billing_address
  = render "users/partials/shipping_address", shipping_address: @shipping_address
.row
  = render "users/partials/name_and_email"
  = render "users/partials/password"
.row
  = render "users/partials/remove_account"
