<h1>Settings</h1>


<div class="row">
	<div class="col-md-6">
		<h2 class="underlined-h2 add-margin-bot">Billing address</h2>
		<div class="row">
			<div class="col-md-8">
				<%= form_for @billing_address, url: address_path(current_user),  html: {class: "nifty_form", method: "patch"} do |f| %>
				  <div class="form-group">
					  <%= f.label :firstname, "First name", class: "control-label" %>
	          <%= f.text_field :firstname, {class: "form-control", placeholder: 'First name'} %>
				  </div>
				  <div class="form-group">
				    <%= f.label :lastname, "First name", class: "control-label" %>
	          <%= f.text_field :lastname, {class: "form-control", placeholder: 'Last name'} %>
					</div>
					<div class="form-group">
						<%= f.label :address, "First name", class: "control-label" %>
	          <%= f.text_field :address, {class: "form-control", placeholder: 'Street address'} %>
					</div>
					<div class="form-group">
						<%= f.label :city, "City", class: "control-label" %>
	          <%= f.text_field :city, {class: "form-control", placeholder: 'City'} %>
					</div>
					<div class="form-group">
						<%= f.label :country, "Country", class: "control-label" %>
						<% if @billing_address.country  %>
							<%= country_select("address", "country", { selected: "UA" }, { class: 'form-control', name: 'address[country]' }) %>
						<% else %>
							<%= country_select("address", "country", { include_blank: 'Select a country'}, { class: 'form-control', name: 'address[country]' }) %>
						<% end %>
					</div>
					<div class="form-group">
						<%= f.label :zipcode, "Zip", class: "control-label" %>
	          <%= f.text_field :zipcode, {class: "form-control", placeholder: 'Zip' } %>
					</div>
					<div class="form-group">
						<%= f.label :phone, "Phone", class: "control-label" %>
	          <%= f.text_field :phone, {class: "form-control", placeholder: 'Phone'} %>
					</div>
					<%= hidden_field(:address, :type, value: 'billing' ) %>
					<%= hidden_field(:address, :and_shipping, value: 'true' ) %>
					<div class="form-group">
						<%= f.submit "Save", class: "btn btn-primary"  %>
					</div>
				<% end %>

			</div>
		</div>
	</div>
	<div class="col-md-6">
		<h2 class="underlined-h2 add-margin-bot mb12">Shipping address</h2>
		<div class="row">
			<div class="col-md-8">
				<%= form_for @shipping_address, url: address_path(current_user),  html: {class: "nifty_form", method: "patch"} do |f| %>
				  <div class="form-group">
						<%= f.label :label, "Use billing address"%>
					  <%= f.check_box :checkbox, {:checked=>true}%> 
					</div>
					<div id="shipping_address">
					  <div class="form-group">
						  <%= f.label :firstname, "First name", class: "control-label" %>
		          <%= f.text_field :firstname, {class: "form-control", placeholder: 'First name'} %>
					  </div>
					  <div class="form-group">
					    <%= f.label :lastname, "First name", class: "control-label" %>
		          <%= f.text_field :lastname, {class: "form-control", placeholder: 'Last name'} %>
						</div>
						<div class="form-group">
							<%= f.label :address, "First name", class: "control-label" %>
		          <%= f.text_field :address, {class: "form-control", placeholder: 'Street address'} %>
						</div>
						<div class="form-group">
							<%= f.label :city, "City", class: "control-label" %>
		          <%= f.text_field :city, {class: "form-control", placeholder: 'City'} %>
						</div>
						<div class="form-group">
							<%= f.label :country, "Country", class: "control-label" %>

							<% if @billing_address.country  %>
								<%= country_select("address", "country", { selected: "UA" }, { class: 'form-control', name: 'address[country]' }) %>
							<% else %>
								<%= country_select("address", "country", { include_blank: 'Select a country'}, { class: 'form-control', name: 'address[country]' }) %>
							<% end %>
						</div>
						<div class="form-group">
							<%= f.label :zipcode, "Zip", class: "control-label" %>
		          <%= f.text_field :zipcode, {class: "form-control", placeholder: 'Zip' } %>
						</div>
						<div class="form-group">
							<%= f.label :phone, "Phone", class: "control-label" %>
		          <%= f.text_field :phone, {class: "form-control", placeholder: 'Phone'} %>
						</div>
						<%= hidden_field(:address, :type, value: 'shipping' ) %>
						<div class="form-group">
							<%= f.submit "Save", class: "btn btn-primary"  %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h2 style="margin-bottom: 12px;" class="underlined-h2 add-margin-bot">Name and email</h2>
		<div class="row">
			<div class="col-md-8">
			  <%= form_for current_user, url: user_update_data_path(current_user),  html: {class: "nifty_form"} do |f| %>
					<div class="form-group">
						<%= f.label :name_email_firstname, "First name", class: "control-label" %>
		        <%= f.text_field :firstname, {class: "form-control", placeholder: 'Firs tname' } %>
					</div>
					<div class="form-group">
					  <%= f.label :lastname, "Last name", class: "control-label" %>
		        <%= f.text_field :lastname, {class: "form-control", placeholder: 'Last tname' } %>
					</div>
					<div class="form-group">
					  <%= f.label :email, "Email", class: "control-label" %>
		        <%= f.text_field :email, {class: "form-control", placeholder: 'Email' } %>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="Save" name="commit">
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<h2 class="underlined-h2 add-margin-bot mb12">Password</h2>
		<div class="row">
			<div class="col-md-8">
				<% if current_user.provider == nil %>
					 <%= form_for current_user, url: user_update_password_path(current_user),  html: {class: "nifty_form"} do |f| %>
						<div class="form-group">
							<%= f.label :old_password, "Old password", class: "control-label" %>
			        <%= f.password_field :old_password, {class: "form-control"} %>
						</div>
						<div class="form-group">
							<%= f.label :new_password, "New password", class: "control-label" %>
			        <%= f.password_field :password, {class: "form-control"} %>
							<em>8 characters minimum</em>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary" value="Change password" name="commit">
						</div>
					<% end %>
				<% else %>
					<p>You authorize with Facebook. You can't change password</p>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<h2 class="underlined-h2">Remove account</h2>
	<%= button_to "Please remove my account", registration_path('user'), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-primary disabled', id: 'remove_button', name: 'remove_accaunt_checkbox' %>
	<%= check_box_tag 'remove_accaunt_checkbox', 'false' %>
	<em id="em_delete">(all your data will be lost)</em>
</div>
