<div class="comment-item my_hide" style="display: none">
	<div class="rating-block">
		<div class="rating">
				<% for i in 1..10 %>
					<% if @last_comment.rating == i %>
						<%= "<input name='star#{@last_comment.id}' type='radio'  value=#{i} class='star#{@last_comment.id} {half:true}' disabled='disabled' checked='checked' />".html_safe %>
					<% else %>
						<%= "<input name='star#{@last_comment.id}' type='radio'  value=#{i} class='star#{@last_comment.id} {half:true}' disabled='disabled' />".html_safe %>
					<% end %>
				<% end %>
		</div>
		<span class="comment_title">Not sure if this is the best book to start!</span>
		<span class="comment_date"><%= @last_comment.created_at.strftime("%b %d, %Y") %></span>
	</div>
	<div class="comment_user_name">by <a href="#"><%= @this_user.firstname << ' ' << @this_user.lastname %></a></div>
	<div class="media">
	  <div class="media-left">
	    <a href="#">
				<% if @this_user.facebook_image != "" %>
	     	 <img class="media-object" height="50" width="50" src="<%= @this_user.facebook_image %>" alt="...">
	      <% elsif @this_user.image.file.nil? == false %>
					<img class="media-object" height="50" width="50" src="<%= @this_user.image_url %>" alt="...">
				<% else %>
					<img class="media-object" height="50" width="50" src="http://localhost:3000/assets/no_avatar.jpg" alt="...">
				<% end %>
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading"><%#= @last_comment.title %></h4>
	    <p><%= @last_comment.text_review %></p>
	  </div>
	</div>
</div>
<div id="id_comment"><%= @last_comment.id %></div>
