.comment-item.my_hide{:style => "display: none"}
  .rating-block
    .rating
      - for i in 1..10
        - if @last_comment.rating == i
          = "<input name='star#{@last_comment.id}' type='radio'  value=#{i} class='star#{@last_comment.id} {half:true}' disabled='disabled' checked='checked' />".html_safe
        - else
          = "<input name='star#{@last_comment.id}' type='radio'  value=#{i} class='star#{@last_comment.id} {half:true}' disabled='disabled' />".html_safe
    %span.comment_title= @last_comment.title
    %span.comment_date= @last_comment.created_at.strftime("%b %d, %Y")
  .comment_user_name
    by
    %a{:href => "#"}= @this_user.firstname << ' ' << @this_user.lastname
  .media
    .media-left
      %a{:href => "#"}
        - if @this_user.facebook_image != ""
          %img.media-object{:alt => "...", :height => "50", :src => "#{@this_user.facebook_image}", :width => "50"}/
        - elsif @this_user.image.file.nil? == false
          %img.media-object{:alt => "...", :height => "50", :src => "#{@this_user.image_url}", :width => "50"}/
        - else
          %img.media-object{:alt => "...", :height => "50", :src => "http://localhost:3000/assets/no_avatar.jpg", :width => "50"}/
    .media-body
      %h4.media-heading
      %p= @last_comment.text_review
#id_comment= @last_comment.id
