.checkout
  = render partial: "order_steps/partials/checkout_nav"
  .row
    = form_for @order_steps_form, url: wizard_path, html: { method: :put } do |f|
      .col-md-4
        %h2.margin-bot-add= t(:billing_address)
        .row
          .col-md-8
            = show_errors(@billing_address, :shipping_form)
            = f.fields_for(:billing_address, @order_steps_form.billing_address) do |billing_address|
              = render partial: "order_steps/partials/billing_shipping", locals: {address: billing_address, order_steps_form: @order_steps_form, address_string: 'billing_address', country: @order_steps_form.billing_address.country, f: f}
              = hidden_field('order_steps_form[billing_address]', :order_billing_address_id, value: @order_steps_form.order.id )
              = hidden_field('order_steps_form[billing_address]', :and_shipping, value: 'true' )
      .col-md-4
        %h2= t(:shipping_address)
        .row
          .col-md-8
            = f.fields_for(:shipping_address, @order_steps_form.shipping_address) do |shipping_address|
              .form-group
                = shipping_address.label :label, t(:use_billing_address)
                = shipping_address.check_box :checkbox, {:checked=> checkbox_state(true) }, checkbox_state
              = show_errors(@shipping_address, :shipping_form)
              .ship-address-form-fields
                #shipping_address_step
                  = render partial: "order_steps/partials/billing_shipping", locals: {address: shipping_address, order_steps_form: @order_steps_form, address_string: 'shipping_address', country: @order_steps_form.shipping_address.country, f: f}
                  = hidden_field('order_steps_form[shipping_address]', :order_shipping_address_id, value: @order_steps_form.order.id )
      = render partial: "order_steps/partials/order_summary"
      .col-md-4.col-md-offset-8
        .form-group
          = f.submit t(:save_and_continue), name: 'commit',  class: "btn btn-success btn-lg"