<div class="checkout">
  <div class="row">
    <div class="col-md-12">
      <h2>Order # <%= @order_steps_form.order.id %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3><%= t(:billing_address) %></h3>
      <%= render partial: "orders/partials/address_data", locals: {address:@order_steps_form.billing_address} %>
    </div>
    <div class="col-md-3">
      <h3><%= t(:shipping_address) %></h3>
      <%= render partial: "orders/partials/address_data", locals: {address:@order_steps_form.shipping_address} %>
    </div>
    <div class="col-md-3">
      <h3><%= t(:shipments) %></h3>
      <div>UPS two day (<%= number_to_currency(@order_steps_form.delivery.to_f) %>)</div>
    </div>
    <div class="col-md-3">
      <h3><%= t(:payment_information) %></h3>
      <div>**** **** **** <%= @order_steps_form.payment.number.split("").last(4).join("") %></div>
      <div><%= @order_steps_form.month %>/<%= @order_steps_form.year %></div>
    </div>
  </div> 
   <%= render partial: "order_steps/partials/complete_confirm_footer", locals: { complete: true  } %>
</div>