.checkout
  = render partial: "order_steps/partials/checkout_nav"
  .row
    .col-md-12
      %h2= t(:confirm)
  .row
    .col-md-3
      %h3
        = t(:shipping_address)
        %small
          %a{:href => wizard_path(:address)}= t(:edit)
      = render partial: "orders/partials/address_data", locals: {address:@order_steps_form.billing_address}
    .col-md-3
      %h3
        = t(:billing_address)
        %small
          %a{:href => wizard_path(:address)}= t(:edit)
      = render partial: "orders/partials/address_data", locals: {address:@order_steps_form.shipping_address}
    .col-md-3
      %h3
        = t(:shipments)
        %small
          %a{:href => wizard_path(:delivery)}= t(:edit)
      %div= t('ups_two_day', number: number_to_currency(@order_steps_form.delivery.to_f))
    .col-md-3
      %h3
        = t(:payment_information)
        %small
          %a{:href => wizard_path(:payment)}= t(:edit)
      %div
        **** **** **** #{@order_steps_form.payment.number.split("").last(4).join("")}
      %div
        = @order_steps_form.month
        \/#{@order_steps_form.year}
  = render partial: "order_steps/partials/complete_confirm_footer", locals: { complete: false  }