<div class="checkout">
<%= render partial: "order_steps/partials/checkout_nav" %>
  <%= form_for @order_steps_form, url: wizard_path, html: { method: :put } do |f| %>
  <div class="row">
      <div class="row">
        <div class="col-md-8">
          <h2 class="margin-bot-add"><%= t(:credit_card) %></h2>
          <div class="row">
            <div class="col-md-6">
            <%= payment_show_errors('payment') %>
            <%= f.fields_for(:payment, @order_steps_form.payment) do |payment| %>
              <div class="form-group">
                <%= payment.label :firstname, t(:first_name), class: "control-label" %>
                <%= payment.text_field :firstname, {class: validate_checkout_class(@order_steps_form, 'payment', :firstname), placeholder: t(:first_name)} %>
              </div>
              <div class="form-group">
                <%= payment.label :lastname, t(:last_name), class: "control-label" %>
                <%= payment.text_field :lastname, {class: validate_checkout_class(@order_steps_form, 'payment', :lastname), placeholder: t(:last_name)} %>
              </div>
              <div class="form-group">
                <%= payment.label :number, t(:card_number), class: "control-label" %>
                <%= payment.text_field :number, {class: validate_checkout_class(@order_steps_form, 'payment', :number), placeholder: t(:card_number)} %>
              </div>
            <div class="form-group">
              <%= payment.label :experation_date, t(:experation_date), class: "control-label" %>
              <% if @order_steps_form.payment.expiration_month?  %>
                <%= select("credit_card", "expiration_month", options_for_select( 1..12 , @order_steps_form.payment.expiration_month ), {}, { name: 'order_steps_form[payment][expiration_month]' } )  %>
              <% else %>
                <%= select("credit_card", "expiration_month", options_for_select( 1..12 , @order_steps_form.payment.expiration_month ) , { include_blank: t(:month) }, { class: '', style: validate_checkout_class(@order_steps_form, 'payment', :expiration_year, true), name: 'order_steps_form[payment][expiration_month]' } ) %>
              <% end %>
               <% if @order_steps_form.payment.expiration_year?  %>
                <%= select("credit_card", "expiration_year", options_for_select( 2016..2030 , @order_steps_form.payment.expiration_year), {}, { name: 'order_steps_form[payment][expiration_year]' } ) %>
              <% else %>
                <%= select("credit_card", "expiration_year", options_for_select( 2016..2030 , @order_steps_form.payment.expiration_year ) , { include_blank: t(:year) }, { class: '', style: validate_checkout_class(@order_steps_form, 'payment', :expiration_year, true), name: 'order_steps_form[payment][expiration_year]' } ) %>
              <% end %>
            </div>
              <div class="form-group">
                <%= payment.label :cvv, t(:cvv_code), class: "control-label" %>
                <%= payment.text_field :cvv, {class: validate_checkout_class(@order_steps_form, 'payment', :cvv), style: 'width: 90px', placeholder: t(:cvv_code)} %>
              </div>
            <% end %>
            </div>
          </div>
        </div>
        <%= render partial: "order_steps/partials/order_summary" %>
        <div class="col-md-4 col-md-offset-8">
          <div class="form-group">
            <%= f.submit t(:save_and_continue), name: 'commit',  class: "btn btn-success btn-lg" %>
          </div>
        </div>
    </div>
  </div>
  <% end %>
</div>