<tbody>
  <% obj.order_items.try(:each) do |item| %>
    <tr class="tr">
      <td>
        <%= link_to "#{image_tag item.book.image_url :resize_to_cart} #{item.book.title}".html_safe, item.book %>
      </td>
      <td class="book_price"><%= number_to_currency(item.book.price) %></td>
      <td class="count">
        <input type="number" max="100" min="1" class="quantity-input" value="<%= item.quantity %>" id="quantity_<%= item.book.id %>" name="quantity-input">
      </td>
      <td class="total"><%= number_to_currency(item.book.price * item.quantity.to_i) %></td>
    </tr>
  <% end %>
</tbody>