<div class="checkout">
  <div class="row">
    <div class="col-md-12">
      <h2>Order # <%= @order.id %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3>Shipping address</h3>
      <%= render partial: "orders/partials/address_data", locals: {address: @order.billing_address} %>
    </div>
    <div class="col-md-3">
      <h3>Billing address</h3>
      <%= render partial: "orders/partials/address_data", locals: {address: @order.shipping_address} %>
    </div>
    <div class="col-md-3">
      <h3>Shipments</h3>
      <div>UPS two day (<%= number_to_currency(@order.delivery.to_f) %>)</div>
    </div>
    <div class="col-md-3">
      <h3>Payment information</h3>
      <div>**** **** **** <%= @order.credit_card.number.split("").last(4).join("") %></div>
      <div><%= @order.credit_card.expiration_month %>/<%= @order.credit_card.expiration_year %></div>
    </div>
  </div>

  <% unless @order.order_items.empty? %>
    <h2 class="underlined-h2">In progress</h2>
    <div class="row cart">
      <div class="col-md-12">
        <table class="table">
          <%= render partial: "orders/partials/books_header" %>
          <%= render partial: "orders/partials/render_items", locals: {obj: @order} %>
        </table>
      </div>
      <div class="col-md-6">
        <%= link_to('Back to order', orders_path, html_options = { class: "btn btn-primary lnk-to-cart"}) %>
      </div>
      <div class="col-md-2"></div>
      <%= render partial: "/order_steps/partials/order_summary" %>
    </div>
    <br>
  <% end %>

  <br><br>

</div>