<tbody>
  <% books.try(:each) do |book| %>
    <tr class="tr">
      <td>
        <%= link_to "#{image_tag book.image_url :resize_to_cart} #{book.title}".html_safe, book %>
      </td>
      <td class="book_price"><%= number_to_currency(book.price) %></td>
      <td class="count">
        <% if qty_change %>
        <input type="number" max="100" min="1" class="quantity-input" value="<%= items_calc(book, true) %>" id="quantity_<%= book.id %>" name="quantity-input">
        <% else %>
        <%= items_calc(book, true) %>
        <% end %>
      </td>
      <td class="total"><%= items_calc(book) %></td>
      <% if remove_link %>
      <td class="remove_link">
        <%= link_to "<span aria-hidden='true'>&times;</span>".html_safe , 'javascript:void(0)', id: "id_" << book.id.to_s  %>
      </td>
      <% end %>
    </tr>
  <% end %>
</tbody>