- unless status.empty?
  %h2.underlined-h2= title
  %table.table
    %thead
      %tr
        %td= t(:number)
        %td= t(:completed_at)
        %td= t(:total)
        %td= t(:details)
    %tbody
      - status.try(:each) do |order|
        %tr
          %td= order.id
          %td= order.completed_date
          %td= number_to_currency(order.order_total)
          %td= link_to t(:view), order_path(order)