.col-md-6
  %h2.underlined-h2.add-margin-bot.mb12=t(:password)
  .row
    .col-md-8
      - clear_obj
      = show_errors(current_user, :password_form)
      - if current_user.provider == nil
        = form_for current_user, url: user_update_password_path(current_user),  html: {class: "nifty_form"} do |f|
          .form-group
            = f.label :old_password, t(:old_password), class: "control-label"
            = f.password_field :old_password, {class: validate_class('password_form', 'old_password') }
          .form-group
            = f.label :new_password, t(:new_password), class: "control-label"
            = f.password_field :password, {class: validate_class('password_form', 'password') }
            %em= t(:eight_characters)
          .form-group
            %input.btn.btn-primary{:name => "commit", :type => "submit", :value => t(:change_password)}/
      - else
        %p= t(:not_change_password)


